.maps-playgrounds {
  flex: 1 0 auto;
  display: flex;
  position: relative;
  @media (max-width: 640px) {
    flex-direction: column;
  }
}

li {
  list-style: none;
}

.test-form {
  position: absolute;
  top: 10px;
  left: 20px;
  z-index: 25;
}
