.mobile-pg-container {
  display: flex;
  flex-direction: column;
  position: absolute;

  background-color: #fff;
  z-index: 1;
  bottom: 0px;
  transform: translateY(94%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  animation: goingBottom 1s 1 ease;
  width: 100%;
}

@keyframes goingBottom {
  0% {
    transform: translateY(60%);
  }
  100% {
    transform: translateY(94%);
  }
}

.mobile-pg-container-active {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #fff;
  z-index: 10;
  transform: translateY(33%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  animation: goingTop 1s 1 ease;
  width: 100%;
  bottom: 0;
}

@keyframes goingTop {
  0% {
    transform: translateY(94%);
  }
  100% {
    transform: translateY(33%);
  }
}

.mobile-pg-button {
  min-height: 56px;
  background-color: rgba(255, 255, 255, 1);
  min-width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.mobile-pg-list {
  opacity: 1;
  background-color: #fff;
  min-height: inherit;
  overflow: auto;
  z-index: 100000;
  &::-webkit-scrollbar {
    width: 0;
  }
}

.mobile-pg-list-active {
  opacity: 1;
  background-color: #fff;
  min-height: inherit;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 0;
  }
}
