.header {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(240, 240, 240, 0.96);
  font-family: "DINCondensedBOLD";
  display: flex;
  height: 92px;
  align-items: center;
  justify-content: center;
  gap: 17px;
  padding: 0px 10px 0px 10px;
}
.nav-container {
  flex: 1;
  max-width: 50%;
}

.logo-container {
  display: flex;
  align-items: flex-end;
}

.booking-btn {
  background-color: rgba(195, 8, 115, 1);
  font-size: 18px;
  text-align: center;
  flex: 1;
  max-width: 101px;
  height: 36px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s ease-out;
  &:hover {
    background-color: rgba(28, 28, 28, 1);
  }
}

.pricing-btn {
  background-color: rgba(189, 189, 189, 1);
  font-size: 18px;
  text-align: center;
  flex: 1;
  max-width: 66px;
  height: 36px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s ease-out;
  &:hover {
    background-color: rgba(28, 28, 28, 1);
  }
}
